body {
            font-family: Arial, sans-serif;
        }
        h2 {
            text-align: center;
        }
        table {
            border-collapse: collapshttps://www.svgrepo.com/show/345221/three-dots.svge;
            margin-bottom: 20px;
            width: 100%;
        }
        th, td {
            border: 1px solid black;
            padding: 1px;
            text-align: center;
        }
        .middle {
            text-align: center;
        }
        .green {
            background-color: green;
        }
        .blue {
            background-color: blue;
        }
        /* For table 3, keep rows fixed heights for demonstration */
        .img-row {
            height: 140px;
        }