body 
{
  font-family: Arial, sans-serif;
}

table 
{
  border-collapse: collapse;
  margin: 20px auto;
}

td 
{
  border: 1px solid black;
  padding: 30px;
  text-align: left;
  height: 50px;
}

.middle 
{
  text-align: center;
}

.center
{
  text-align: center;
}

.right 
{
  text-align: right;
}

.green 
{
  background-color: green;
}

.blue 
{
  background-color: blue;
}

.image 
{
  text-align: center;
}
